body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding:0;
    background-color: #4B4B4B;
    background-image: url(dinosaurfootprints.avif); 
  }
  

/* header and Footer*/
header,footer{
    background-size: 300px;
    color: rgb(7, 7, 7);
    text-align: center;
    padding: 10px;
    
}

h1{
  background-color: #F1E0C6;
  text-align: center;
  padding:10px;
}

h1 a {
  text-decoration: none;
  color: inherit;
}

h1 a:hover {
  text-decoration: underline; /* Optional hover effect */
}


.row{
  font-style: oblique;
  display : flex;
   color: rgb(11, 11, 11);
}

.column{
  flex: 1;
  background-color:#D2B48C;
  margin: 5px;
  padding: 20px;
  margin-top: 0;
}
.column70{
  flex: 3;
  background-color:#D2B48C;
  margin: 5px;
  padding: 20px;
  margin-left: 10px;
  width:50px;
  height: auto;
}
.column30{
  flex: 3;
  background-color:#D2B48C;
  margin: 5px;
  padding: 20px;
  margin-left: 10px;
  width:50px;
  height: auto;
  text-align: left;
}

.skull{
  margin: 0 auto;
  max-width: 600px;
}

.nanotyranno{
  width: 600px;
  height: auto;
  margin: 0 auto;
}
.hero{
  width: auto;
  height: 600px;
  background-image:url("trex skull.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  text-align: left;
  padding-top: 30px;
  margin-bottom: 5px;
}

.suco{
height: auto;
width: 600px;
display: flex;
justify-content: end;
}
.dinocard{
height: auto;
width: 200px;
display: flex;
justify-content:space-between;
}



/*Navigation menu/*
/* Footer  position*/
footer{ 
    position:fixed;
    bottom:0;
    width: 100%;
    text-align: center;
}

nav{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(2, 2, 2);
    width: auto;
    height: auto;
}

img {
    width: 100px;   /* or any size you want */
    height: auto;   /* maintains aspect ratio */
  }

nav :hover{
    background-color: #f5f5f5;
}



/* image sections*/

.TREX{
    width: 500px;   /* or any size you want */
    height: auto;  /* maintains aspect ratio */
}


/* slide show*/
.container {
  position: relative;
  margin-top: -100px;
  width: 360px;
}





/* buttons*/

a {
    --color: #B94D40;
    font-family: inherit;
    display: inline-block;
    width: 10em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color 0.5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
  }
  
  a:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
  }
  
  a:hover {
    color: #fff;
  }
  
  a:before {
    top: 100%;
    left: 100%;
    transition: all 0.7s;
  }
  
  a:hover:before {
    top: -30px;
    left: -30px;
  }
  
  a:active:before {
    background: #F4A300;
    transition: background 0s;
  }

  

 
